.app-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    .icon-input {
        padding: 0 10px;
        background: #e3e3e3;
        border-radius: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .iconfont {}
        .start-icon {
            flex: 0 0 20px;
        }
        .input {
            flex: 1 1 auto;
            border: 0 none;
        }
        .end-icon {
            flex: 0 0 20px;
            justify-self: end;
        }
    }
    .router-wrap {
        height: calc(100% - 140px);
    }
    .app-head {
        //头部固定
        height: 55px;
        position: relative;
        z-index: 10;
    }
    .app-body {
        //content
        height: calc(100% - 55px);
        position: relative;
        z-index: 1;
    }
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    transform-origin: 50%;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(450deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        transform: rotate(90deg);
    }
}