.player-wrap {
    height: 140px;
    background-color: #fff;
    border-top: 1px solid $border-color;
    .song-info {
        padding-top: 10px;
        .song-name {
            min-height: 32px;
            font-size: 24px;
        }
        .song-songer {
            padding: 5px 0;
            min-height: 20px;
            font-size: 14px;
            color: $brand-sub;
        }
    }
    .song-geci {
        min-height: 80px;
        color: $brand-sub;
        ul {
            li {
                text-align: center;
                margin-bottom: 10px;
                .active {
                    color: $brand-primary
                }
            }
        }
    }
    .progress-wrap {
        width: 100%;
        font-size: 12px;
        .start-time,
        .end-time {
            flex: 0 0 60px;
            text-align: center
        }
        .progress-bar-bg {
            width: 280px;
            height: 4px;
            border-radius: 2px;
            flex: 1 1 280px;
            background: #ddd;
            position: relative;
            .progress-bar {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: $brand-enable;
            }
            .progress-dot {
                width: 20px;
                height: 20px;
                position: absolute;
                top: -7px;
                left: 0;
                margin-left: -5px;
                border-radius: 100%;
                background: #fff;
                border: 1px solid $brand-enable;
                transform: translateZ(0);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .progress-dot-dot {
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    background: $brand-enable;
                }
            }
        }
    }
    .main-option {
        .iconfont {
            font-size: 24px;
            &.icon-qianjin,
            &.icon-houtui {
                font-size: 20px;
            }
        }
    }
}