@charset "utf-8";

// Horizontal dividers
//
// 用于设置分割线

@mixin nav-divider($color: #e5e5e5,$line-height:20px) {
    height: 1px;
    margin: (($line-height / 2) - 1) 0;
    overflow: hidden;
    background-color: $color;
}
